body {
  font-family: 'IM Fell French Canon', serif;
  font-family: 'Nosifer', cursive;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}
.logo_wrap {
  text-align: center;
  height: auto;
}
.logo {
  background-image: url("../imagess/logo/logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;
  height: 150px;
  margin-top: 1em;
  text-decoration: none;
}
header {
  background-color: #010101;
  height: 3em;
}
.logo_wrap h1{
  text-align: center;
  text-align: center;
  color: #557c3e;
  font-size: 3.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #265;
  margin-top: -4px;
  margin-bottom: 0px;
  line-height: 1.75;
}
.logo_wrap a:hover {
  text-decoration: none;
}
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}
.navbar-default {
    background-color: #ffffff;
    border-color: #ffffff;
}

.hide-bullets {
    list-style:none;
    margin-left: -40px;
    margin-top:20px;
}

.thumbnail {
    padding: 0;
}

.carousel-inner>.item>img, .carousel-inner>.item>a>img {
    width: 100%;
}

// footer
.gap {
  height: 30px;
  width: 100%;
  clear: both;
  display: block;
}
.footer {
  background: #010101;
  height: auto;
  padding-bottom: 50px;
  position: bottom;
  width: 100%;
  border-bottom: 1px solid #CCCCCC;
  border-top: 1px solid #DDDDDD;
  margin-top: 25px;
}
.footer p {
  margin: 0;
}
.footer img {
  max-width: 100%;
}
.footer h3 {
  border-bottom: 1px solid #BAC1C8;
  color: #54697E;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  padding: 40px 0 10px;
  text-transform: uppercase;
  text-align: center;
}
.footer ul {
  font-size: 13px;
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  margin-top: 15px;
  color: #7F8C8D;
}
.footer ul li a {
  padding: 0 0 5px 0;
  display: block;
}
.footer a {
  color: #78828D
}
.supportLi h4 {
  font-size: 20px;
  font-weight: lighter;
  line-height: normal;
  margin-bottom: 0 !important;
  padding-bottom: 0;
}
.newsletter-box input#appendedInputButton {
  background: #FFFFFF;
  display: inline-block;
  float: left;
  height: 30px;
  clear: both;
  width: 100%;
}
.newsletter-box .btn {
  border: medium none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  display: inline-block;
  height: 40px;
  padding: 0;
  width: 100%;
  color: #fff;
}
.newsletter-box {
  overflow: hidden;
}
.bg-gray {
  background-image: -moz-linear-gradient(center bottom, #BBBBBB 0%, #F0F0F0 100%);
  box-shadow: 0 1px 0 #B4B3B3;
}
.social li {
  background: none repeat scroll 0 0 #B5B5B5;
  border: 2px solid #B5B5B5;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  float: left;
  height: 36px;
  line-height: 36px;
  margin: 0 8px 0 0;
  padding: 0;
  text-align: center;
  width: 36px;
  transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
}
.social li:hover {
  transform: scale(1.15) rotate(360deg);
  -webkit-transform: scale(1.1) rotate(360deg);
  -moz-transform: scale(1.1) rotate(360deg);
  -ms-transform: scale(1.1) rotate(360deg);
  -o-transform: scale(1.1) rotate(360deg);
}
.social li a {
  color: #EDEFF1;
}
.social li:hover {
  border: 2px solid #2c3e50;
  background: #2c3e50;
}
.social li a i {
  font-size: 16px;
  margin: 0 0 0 5px;
  color: #EDEFF1 !important;
}
.footer-bottom {
  background: #010101;
  
}
.footer-bottom p.pull-left {
  padding-top: 6px;
}
 
/********** Large devices only **********/
@media (min-width: 1200px) {
  .navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  .navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

.footer h3 {
  text-align: center;
  }
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
.logo {
  background-image: url("../imagess/logo/restaurant-logo_medium.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;
  height: 100px;
  margin-top: 1em;
}
.logo_wrap h1 {
    text-align: center;
    color: #557c3e;
    font-size: 2.5em;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px #265;
    margin-top: -4px;
    margin-bottom: 0px;
    line-height: 1.4;
}
 header {
  background-color: #010101;
  height: 2em;
}
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}
.navbar.navbar-default .navbar-nav > li {
    font-size: 1.2vw;
  }

.footer h3 {
  text-align: center;
  }
}

/********** Extra small devices only **********/
@media (max-width: 767px) {

.logo {
  background-image: url("../imagess/logo/restaurant-logo_small.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;
  height: 50px;
  margin-top: 1em;
}
.logo_wrap h1 {
    text-align: center;
    color: #557c3e;
    font-size: 2.5em;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px #265;
    margin-top: -4px;
    margin-bottom: 0px;
    line-height: 1.7;
}
  header {
  background-color: #010101;
  height: 1em;
}
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}
  
  .panel-footer section hr {
    width: 50%;
}
.col-xs-6 {
    width: 100%;
}
.footer h3 {
  text-align: center;
  }
}
  /********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
  .logo {
    background-image: url(../imagess/logo/restaurant-logo_small.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;
    height: 30px;
    margin-top: 1em;
}
.logo_wrap h1 {
  text-align: center;
  color: #557c3e;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: normal;
  text-shadow: 1px 1px 1px #265;
  margin-top: -2px;
  margin-bottom: 0px;
  line-height: 1.7;
}
  header {
  background-color: #010101;
  height: 10px;
}
 .navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}
.panel-footer section hr {
    width: 50%;
}
.col-xs-6 {
    width: 100%;
}
.footer h3 {
  text-align: center;
  }
}
 /* End Header */